<div class="container margin-top-20">
  <div class="col-sm-12 offset-md txt-center form-square border-bottom">
    <h3>プロフィール</h3>
    <br>
    <div id="tab">
      <div class="tab">
        <ul class="tab_title">
          <li @click="activate(1)" :class="{'active' : isActive === 1}">ユーザー情報</li>
          <li @click="activate(2)" :class="{'active' : isActive === 2}">お気に入り一覧</li>
          <li @click="activate(3)" :class="{'active' : isActive === 3}">投稿レビュー一覧</li>
          <li @click="activate(4)" :class="{'active' : isActive === 4}">投稿店舗一覧</li>
        </ul>
        <br>
        <ul class="tab_content">
          <li v-if="isActive === 1">
            <div class="row">
                <div class="col margin-bottom50">
                  <% if @user.image? %>
                    <%= image_tag @user.image.url, alt: "ユーザーアイコン", class: "profile-image d-block mx-auto" %>
                  <% else %>
                    <%= image_tag "default_icon.png", alt: "ユーザーアイコン", class: "profile-image d-block mx-auto" %>
                  <% end %>
                </div>
            </div>
            <br>
            <div class="row profile-margin">
              <div class="col profile-col">
                <label class="text-left mx-auto float-left">名前：</label>
                <span class="text-left mx-auto float-left"><%= @user.user_name %></span>
              </div>
            </div>
            <br>
            <div class="row profile-margin">
              <div class="col profile-col">
                <label class="text-left mx-auto float-left">年齢：</label>
                <span class="text-left mx-auto float-left"><%= @user.age %></span>
              </div>
            </div>
            <br>
            <div class="row profile-margin">
              <div class="col profile-col">
                <label class="text-left mx-auto float-left">性別：</label>
                <% if @user.sex = 0 %>
                  <span class="text-left mx-auto float-left">男性</span>
                <% else %>
                  <span class="text-left mx-auto float-left">女性</span>
                <% end %>
              </div>
            </div>
            <br>
            <div class="row profile-margin">
              <div class="col profile-col col-auto me-auto">
                <label class="text-left mx-auto float-left">メールアドレス：</label>
                <span class="text-left mx-auto float-left"><%= @user.email %></span>
              </div>
            </div>
            <br>
            <div class="martop-50 txt-center">
              <%= link_to "プロフィール編集", edit_user_registration_path, class: "btn btn-color width-25" %>
            </div>
          </li>
          <li v-else-if="isActive === 2">
            <% if @favorites.present? %>
              <ul class="relative-post-lists">
                <% @favorites.each do |favorite| %>
                  <li class='post-list'>
                    <%= link_to restaurant(favorite.id) do %>
                    <div class='post-img-content'>
                      <%= image_tag favorite.image, class: "post-img" %>
                    </div>
                      <div class='relative-post-name'>
                        商品名：<%= favorite.name %>
                      </div>
                      <div class='relative-item-price'>
                        <span><%= favorite.price %>円(税込み)</span>
                      </div>
                      <div class="relative-post-evaluation">
                        <span>評価：</span>
                          <span id="star-rate-<%= favorite.id %>"></span>
                          <script>
                            $('#star-rate-<%= favorite.id %>').raty({
                              size: 36,
                              starOff: "<%= asset_path('star-off.png') %>",
                              starOn: "<%= asset_path('star-on.png') %>",
                              starHalf: "<%= asset_path('star-half.png') %>",
                              half: true,
                              readOnly: true,
                              score: <%= favorite.rate %>,
                            });
                          </script>
                          <%= favorite.rate %>
                      </div>
                      <div class='user-img-content'>
                        <%= image_tag favorite.user.image ,class:"mini-img" if favorite.user.image.attached? %>
                        <%= link_to favorite.user.user_name, user_path(favorite.user.id) %>
                      </div>
                      <div class="relative-post-date">
                        更新日時：<%= favorite.created_at.strftime("%Y.%m.%d") %>
                      </div>
                    <% end %>
                  </li>
                <% end %>
              </ul>
              <% else %>
                <span class="font-weight-bold">追加されたお気に入りはありません</span>
              <% end %>
          </li>
          <li v-else-if="isActive === 3">
          <% if @reviews.present? %>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">店舗名</th>
                  <th scope="col">評価</th>
                  <th scope="col">レビューコメント</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <% @reviews.each do |rv| %>
                  <tr>
                    <th><%= rv.restaurant.restaurant_name %></th>
                    <td class="star-rate">
                      <span id="star-rate-<%= rv.id %>"></span>
                      <script>
                        $('#star-rate-<%= rv.id %>').raty({
                          size: 22,
                          starOff: "<%= asset_path('star-off.png') %>",
                          starOn: "<%= asset_path('star-on.png') %>",
                          starHalf: "<%= asset_path('star-half.png') %>",
                          half: true,
                          readOnly: true,
                          score: <%= rv.rate %>,
                        });
                      </script>
                      <span><%= rv.rate %></span>
                    </td>
                    <td><%= rv.comment %></td>
                    <td>
                      <%= link_to "店舗詳細", restaurant_path(rv.restaurant_id), class: "btn btn-color btn-sm" %>
                      <%= link_to 'レビューを削除', review_path(rv.id), method: :delete, class: "btn btn-outline-danger btn-sm", data: { confirm: "こちらのレビューを削除しますか？"} %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% else %>
            <p class="font-weight-bold">投稿したレビューはありません</p>
          <% end %>
          </li>
          <li v-else-if="isActive === 4">
          <% if @restaurants.present? %>
            <table class="table table-striped v-align-mid">
              <thead>
                <tr>
                  <th scope="col">店舗名</th>
                  <th scope="col">郵便番号</th>
                  <th scope="col">所在地</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <% @restaurants.each do |r| %>
                  <tr>
                    <th class="text-left"><%= r.restaurant_name %></th>
                    <td class="text-left"><%= r.zipcode %></td>
                    <td class="text-left"><%= r.address %></td>
                    <td>
                      <%= link_to "詳細", restaurant_path(r.id), class: "btn btn-color btn-sm" %>
                      <%= link_to '削除', restaurant_path(r.id), method: :delete, class: "btn btn-outline-danger btn-sm", data: { confirm: "投稿されたレビューを含めてこちらの店舗情報を削除します。本当によろしいですか？"} %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% else %>
            <p class="font-weight-bold">登録した店舗はありません</p>
          <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>