<div class="container margin-top-20">
  <div class="col-sm-12 offset-md txt-center form-square border-bottom">
    <h3>プロフィール</h3>
    <br>
    <div id="tab">
      <div class="tab">
        <ul class="tab_title">
          <li @click="activate(1)" :class="{'active' : isActive === 1}">ユーザー情報</li>
          <li @click="activate(2)" :class="{'active' : isActive === 2}">投稿レビュー一覧</li>
          <li @click="activate(3)" :class="{'active' : isActive === 3}">投稿店舗一覧</li>
        </ul>
        <br>
        <ul class="tab_content">
          <li v-if="isActive === 1">
            <div class="row">
                <div class="col margin-bottom50">
                  <% if @user.image? %>
                    <%= image_tag @user.image.url, alt: "ユーザーアイコン", class: "profile-image d-block mx-auto" %>
                  <% else %>
                    <%= image_tag "default_icon.png", alt: "ユーザーアイコン", class: "profile-image d-block mx-auto" %>
                  <% end %>
                </div>
            </div>
            <br>
            <div class="row profile-margin">
              <div class="col profile-col">
                <label class="text-left mx-auto float-left">名前：</label>
                <span class="text-left mx-auto float-left"><%= @user.user_name %></span>
              </div>
            </div>
            <br>
            <div class="row profile-margin">
              <div class="col profile-col">
                <label class="text-left mx-auto float-left">年齢：</label>
                <span class="text-left mx-auto float-left"><%= @user.age %></span>
              </div>
            </div>
            <br>
            <div class="row profile-margin">
              <div class="col profile-col">
                <label class="text-left mx-auto float-left">性別：</label>
                <% if @user.sex = 0 %>
                  <span class="text-left mx-auto float-left">男性</span>
                <% else %>
                  <span class="text-left mx-auto float-left">女性</span>
                <% end %>
              </div>
            </div>
            <br>
            <div class="row profile-margin">
              <div class="col profile-col col-auto me-auto">
                <label class="text-left mx-auto float-left">メールアドレス：</label>
                <span class="text-left mx-auto float-left"><%= @user.email %></span>
              </div>
            </div>
            <br>
            <div class="martop-50 txt-center">
              <%= link_to "プロフィール編集", edit_user_registration_path, class: "btn btn-color width-25" %>
            </div>
          </li>
          <li v-else-if="isActive === 2">
          <% if @reviews.present? %>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">店舗名</th>
                  <th scope="col">評価</th>
                  <th scope="col">レビューコメント</th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <% @reviews.each do |rv| %>
                  <tr>
                    <th><%= rv.restaurant.restaurant_name %></th>
                    <td><%= rv.rate %></td>
                    <td><%= rv.comment %></td>
                    <td><%= link_to "詳細", restaurant_path(rv.restaurant_id), class: "btn btn-color btn-sm" %></td>
                    <td><%= link_to 'レビューを削除', review_path(rv.id), method: :delete, class: "btn btn-outline-danger btn-sm", data: { confirm: "こちらのレビューを削除しますか？"} %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% else %>
            <p class="font-weight-bold">投稿したレビューはありません</p>
          <% end %>
          </li>
          <li v-else-if="isActive === 3">
          <% if @restaurants.present? %>
            <table class="table table-striped v-align-mid">
              <thead>
                <tr>
                  <th scope="col">店舗名</th>
                  <th scope="col">郵便番号</th>
                  <th scope="col">所在地</th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <% @restaurants.each do |r| %>
                  <tr>
                    <th class="text-left"><%= r.restaurant_name %></th>
                    <td class="text-left"><%= r.zipcode %></td>
                    <td class="text-left"><%= r.address %></td>
                    <td><%= link_to "詳細", restaurant_path(r.id), class: "btn btn-color btn-sm" %></td>
                    <td><%= link_to '削除', restaurant_path(r.id), method: :delete, class: "btn btn-outline-danger btn-sm", data: { confirm: "投稿されたレビューを含めてこちらの店舗情報を削除します。本当によろしいですか？"} %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% else %>
            <p class="font-weight-bold">登録した店舗はありません</p>
          <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>