<div class="container margin-top-20">
<%= render "shared/error", obj: @restaurant %>
  <div class="txt-center form-square page-label">
    <h3>店舗詳細</h3>
    <h4 class="restaurant-name-title"><%= @restaurant.restaurant_name %></h4>
      <div class="field martop-15" id="img_field" @change="onFileChange($event)">
        <div class="restaurant-img-parts">
          <% if @restaurant.restaurant_image? %>
            <%= image_tag @restaurant.restaurant_image.url, class: "restaurant-img d-block mx-auto" %>
          <% else %>
            <img src="/assets/no_image.jpg" class="restaurant-img d-block mx-auto">
          <% end %>
        </div>
      </div>
      <div class="border-line pd-bottom30"></div>
      <br>
      <div id="tab">
        <div class="tab">
          <ul class="tab_title">
            <li @click="activate(1)" :class="{'active' : isActive === 1}">基本情報</li>
            <li @click="activate(2)" :class="{'active' : isActive === 2}">地図</li>
            <li @click="activate(3)" :class="{'active' : isActive === 3}">評価・レビュー</li>
          </ul>
          <br>
          <ul class="tab_content">
            <li v-if="isActive === 1">
              <div class="restaurant-detail-info">
                <h2 class="detail-info-text"><%= @restaurant.restaurant_name %> 基本情報</h2>
                <div class="row">
                  <label class="col-md-3">店舗名</label>
                  <p class="mb-4 col-md-7"><%= @restaurant.restaurant_name %></p>
                </div>
                <div class="row">
                  <label class="col-md-3">郵便番号</label>
                  <p class="mb-4 col-md-2"><%= @restaurant.zipcode %></p>
                </div>
                <div class="row">
                  <label class="col-md-3">所在地</label>
                  <p class="mb-4 col-md-7"><%= @restaurant.address %></p>
                </div>
                <div class="row">
                  <label class="col-md-3">電話番号</label>
                  <p class="mb-md-5 col-md-2"><%= @restaurant.tel %></p>
                </div>
                <div class="row justify-content-center">
                    <%= link_to "戻る", :back, class: "btn btn-outline-color btn-lg marginlg-5p width-15" %>
                </div>
              </div>
            </li>
            <li v-if="isActive === 2">
              地図表示
            </li>
            <li v-if="isActive === 3">
              レビュー表示
            </li>
          </ul>
        </div>
      </div>
  </div>
</div>