<div class="container margin-top-20">
  <div class="txt-center form-square page-label">
    <h3>レビュー投稿</h3>
    <%= render "shared/error_message_flash" %>
    <%= form_with model: @review, local: true do |rv| %>
      <div class="field martop-30" >
        <div class="row d-block mx-auto martop-20">
          <div class="review-title">
            <h6>レビュー対象店舗</h6>
          </div>
          <div class="col martop-15">
            <% if @restaurant.restaurant_image? %>
              <%= image_tag @restaurant.restaurant_image.url, class: "review-restaurant-img" %>
            <% else %>
              <img src="/assets/no_image.jpg" class="review-restaurant-img">
            <% end %>
          </div>
          <div class="col martop-15">
            <h5 class="text-center"><%= @restaurant.restaurant_name %></h5>
          </div>
        </div>
      </div>
      <div class="martop-20">
        <div class="row">
          <%= rv.label :rate, "評価", class: "col-md-3" %>
          <div class="field" id="star">
            <%= rv.hidden_field :rate, id: :review_star %>
          </div>
        </div>
        <div class="row martop-15">
          <label class="col-md-3">コメント</label>
          <%= rv.text_area :comment, class: "form-control mb-5 col-md-7" %>
        </div>
      </div>
      <%= rv.hidden_field :restaurant_id, value: @restaurant.id %>
      <%= rv.hidden_field :user_id, value: current_user.id %>
      <div class="row justify-content-center">
        <%= rv.submit "投稿する", class: "btn btn-color btn-lg marginlg-5p width-15", data: { confirm: "下記内容にてレビューを投稿します。よろしいですか？"} %>
        <%= link_to "戻る", :back, class: "btn btn-outline-color btn-lg marginlg-5p width-15" %>
      </div>
    <% end %>
  </div>
</div>

<script>
  $('#star').raty({
    size     : 36,
    starOff: '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    scoreName: 'review[rate]',
    half: true,
  });
</script>