<!DOCTYPE html>
<html>
  <head>
    <title>フジノキ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'dropdown_vue' %>
    <link href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>

  <body>
    <header class="header-menu">
      <nav class="navbar navbar-expand-lg navbar-dark navbar-color">
        <%= link_to image_tag("header_logo.png", class:"header-logo", alt:"ヘッダーロゴ"), "/" %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <form class="d-flex">
            <div class="input-group-sm">
              <input class="form-control me-2 input-sm" type="search" placeholder="エリア" aria-label="Search">
            </div>
            <div class="input-group-sm">
              <input class="form-control me-2 input-sm" type="search" placeholder="キーワード" aria-label="Search">
            </div>
            <button class="btn btn-color btn-sm" type="submit">検索</button>
          </form>
        </div>
        <div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarTogglerDemo01">
          <% if user_signed_in? %>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 align-items-center">
              <li class="nav-item marginlg-5">
                <%= link_to "ホーム", "/", class: "nav-link active fnt-size-16" %>
              </li>
              <li class="nav-item marginlg-5">
                <div id="nav">
                  <ul>
                    <li v-for="item in items">
                      <a :href="item.url" v-if="!item.children">
                        <img src="/assets/default_icon.png" class="mxｰ3 p-1 host-icon hover-opacity" alt="ヘッダーアイコン">
                      </a>
                      <span v-else
                            v-on:click="open">
                              <img src="/assets/default_icon.png" class="mxｰ3 p-1 host-icon hover-opacity" alt="ヘッダーアイコン">
                        <ul class="dropdown"
                            :class="{ isOpen }">
                          <li class="hover-opacity" v-for="child in item.children">
                            <a :href="child.url">
                              {{ child.name }}
                            </a>
                          </li>
                        </ul>
                      </span>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          <% else %>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 align-items-center">
              <li class="nav-item marginlg-5">
                <%= link_to "ホーム", "/", class: "nav-link active fnt-size-16" %>
              </li>
              <li class="nav-item marginlg-5">
                <%= link_to "ログイン", new_user_session_path, class: "btn btn-primary btn-color" %>
              </li>
              <li class="nav-item marginlg-5">
                <%= link_to "新規登録", new_user_registration_path, class: "btn btn-primary btn-color" %>
              </li>
            </ul>
          <% end %>
        </div>
      </nav>
    </header>
    <%= render partial: 'layouts/notifications' %>
    <%= yield %>
    <footer>
      <p>©︎ 2021 FUJINOKI by Naoki Tagaya, POTEPANCAMP</p>
   </footer>
  </body>
</html>
